{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/html-main_page.css' %}">
{% endblock link %}

{% block logo %}
<div></div>
{% endblock logo %}

{% block content %}
    <div class="white-block"></div>
    <img class="w-img" src="{% static 'img/1350_5.png' %}" alt="img">
{% endblock content %}

{% block footer-img %}
    <img class="footer-img" src="{% static 'img/1.jpg' %}" alt="img">
{% endblock footer-img %}