.block-in-fon{
    margin-left: 80px;
    margin-right:80px;
    background: green;
}
.square-block{
    width: 200px;
    height: 100px;
    border: DeepSkyBlue solid 1px;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: LightCyan;
    box-shadow: 0em 0.2em 7px rgba(122,122,122,0.3);
    color: SteelBlue;
}
.content-left{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 35px 25px;
}
.catalog-list{
    margin-top: 5px;
    padding-left: 20px;
}
.catalog-list a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: SteelBlue;
    text-decoration: none;
}
.categories-list{
    padding-left: 50px;
    font-family: 'Philosopher', sans-serif;
    font-size: 26px;
    letter-spacing: 3px;
    color: pink;
}
.vr-line{
    box-sizing: inherit;
    width: 90px;
    height: 100%;
    border-right: 2px solid pink;
}