.list-item{
	width: 180px;
    position: relative;
    margin-top: 20px;
    color: pink;
}
.list-item a{
    text-decoration: none;
	color: DeepSkyBlue;
	font-size: 14px;
	width: 180px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    margin-top: 20px;
    padding: 0px 5px;
}
ul{
    padding: 0px;
    margin-left: 30px;
}
.list-item a:hover{
    color: HotPink;
}
.list-group-item{
    margin-top: 60px;
}
.link-category{
    text-decoration: none;
    color: SteelBlue;
}
.square-block a:hover{
    color: DeepSkyBlue;
}