{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create product
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/categories/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/products_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/index.css' %}">
{% endblock link %}

{% block logo %}
    <img class="logo" src="{% static 'img/Logo Lovely.png' %}" height='70' alt="logo">
{% endblock logo %}

{% block content %}
<div class="block-body-admin">
    <div class="block-blocks content-left">
        <form class="form-group" id="create-category" method="post" action="{% url 'create_product' %}">
            {% csrf_token %}
            <p class="text-form">Form to add Product:</p>
            {% for field in product_form %}
                <p class="category-add-form-field">
                    {{ field.label_tag }} {{ field }}
                </p>
            {% endfor %}
            <input id="submit" type="submit" value="Send" class="button">
            <input type="reset" value="Clear" class="button clear">
        </form>
    </div>
    {% if user.is_superuser %}
        <div id="catalog-menu" class="list-group">
            <a href="{% url 'categories_homepage' %}" class="list-group-item">
                Categories
            </a>
            <a href="{% url 'create_product' %}" class="list-group-item">New product</a>
            <a href="#" class="list-group-item">Not available</a>
            <a href="#" class="list-group-item">Promotional products</a>
            <a href="{% url 'products_list' %}" class="list-group-item">All products</a>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block footer-img %}
    <img class="footer-img" src="{% static 'img/1.jpg' %}" alt="img">
{% endblock footer-img %}