{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete category
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/categories/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/delete.css' %}">
{% endblock link %}

{% block logo %}
    <img class="logo" src="{% static 'img/Logo Lovely.png' %}" height='70' alt="logo">
{% endblock logo %}

{% block content %}
    <div class="block-body-admin">
        <div class="block-blocks">
        <form action="/products/{{ product.id }}/delete_product" method="post">
            {% csrf_token %}

            <h1 id="text-delete">Удалить "{{ product.name }}"?</h1>
            <a id="m-left" class="href-back-delete blue" href="{% url 'products_list' %}">Back</a>
            <input id="submit" class="href-back-delete red" value="Delete" type="submit">
        </form>
        </div>
    </div>
{% endblock content %}

{% block footer-img %}
    <img class="footer-img" src="{% static 'img/1.jpg' %}" alt="img">
{% endblock footer-img %}